<body class="tw-bg-blue-800">
    <div class="tw-container tw-mx-auto tw-p-4 tw-w-full">
        <h2 class="tw-text-3xl tw-text-center tw-p-6 tw-font-bold tw-text-white tw-mb-4">List of Sample</h2>
      
      
        <div class="tw-flex tw-items-center tw-space-x-2 tw-mb-3 tw-mt-5">
          <label for="sort" class="tw-font-medium tw-text-white">Queue to Sample: {{ countSampledZero }}</label>
          
        </div>
    
        <!-- ListBox Table -->
        <table class="tw-min-w-full tw-bg-white tw-rounded-lg tw-shadow-md tw-overflow-hidden">
          <thead class="tw-bg-blue-900 tw-text-white">
            <tr>
              <th (click)="sortData('id')" class="tw-cursor-pointer tw-py-2 tw-px-4 tw-border-b tw-border-blue-900">
                ID
                <fa-icon *ngIf="sortColumn === 'id'" [icon]="sortDirection ? faArrowUp : faArrowDown" class="tw-ml-2"></fa-icon>
              </th>
              <th (click)="sortData('no_box')" class="tw-cursor-pointer tw-py-2 tw-px-4 tw-border-b tw-border-blue-900">
                No Box
                <fa-icon *ngIf="sortColumn === 'no_box'" [icon]="sortDirection ? faArrowUp : faArrowDown" class="tw-ml-2"></fa-icon>
              </th>
              <th (click)="sortData('created_date')" class="tw-cursor-pointer tw-py-2 tw-px-4 tw-border-b tw-border-blue-900">
                Created Date
                <fa-icon *ngIf="sortColumn === 'created_date'" [icon]="sortDirection ? faArrowUp : faArrowDown" class="tw-ml-2"></fa-icon>
              </th>
              <th (click)="sortData('approved')" class="tw-cursor-pointer tw-py-2 tw-px-4 tw-border-b tw-border-blue-900">
                Approved
                <fa-icon *ngIf="sortColumn === 'approved'" [icon]="sortDirection ? faArrowUp : faArrowDown" class="tw-ml-2"></fa-icon>
              </th>
              <!-- <th class="tw-py-2 tw-px-4 tw-border-b tw-border-blue-900">Sampled</th> -->
              <th class="tw-py-2 tw-px-4 tw-border-b tw-border-blue-900">Actions</th>
            </tr>
            
          </thead>
          <tbody>
            <tr *ngFor="let listBox of filteredListBoxes" class="hover:bg-blue-50 tw-transition-all">
              <td class="tw-py-2 tw-text-center tw-px-4 tw-border-b">{{ listBox.id }}</td>
              <td class="tw-py-2 tw-text-center tw-px-4 tw-border-b">{{ listBox.no_box }}</td>
              <td class="tw-py-2 tw-text-center tw-px-4 tw-border-b">{{ listBox.created_date | date: 'shortDate' }}</td>
              
              <!-- Progression Bar for Approved -->
              <td class="tw-py-2 tw-px-4 tw-border-b tw-text-center">
                <div class="tw-relative">
                  <div class="tw-h-6 tw-text-xs tw-w-full tw-bg-gray-200 tw-rounded-full">
                    <div 
                      class="tw-h-full tw-rounded-full"
                      [ngClass]="{
                        'tw-bg-red-500': listBox.approved === 'No' && listBox.sampled === 'No',
                        'tw-bg-yellow-500': listBox.approved === 'No' && listBox.sampled === 'Yes',
                        'tw-bg-green-500 ': listBox.approved === 'Yes' && listBox.sampled === 'Yes'
                      }"
                      [style.width]="getProgressWidth(listBox) + '%'">
                    </div>
                  </div>
                  <div style="font-size: 15px; margin-top: 2px;" class="tw-absolute tw-top-0 tw-left-0 tw-w-full tw-text-center tw-font-xs">
                    {{ getProgressLabel(listBox) }}
                  </div>
                </div>
              </td>
          
              <td class="tw-py-2 tw-px-4 tw-border-b tw-text-center">
                <button [routerLink]="['/sampling-do', listBox.no_box]"
                  class="tw-bg-green-600 tw-text-white tw-px-3 tw-py-1 tw-rounded-md tw-hover:bg-blue-800 tw-transition-all tw-mr-2">
                  Sampling
                </button>
                <button [routerLink]="['/sampling-view', listBox.no_box]"
                  class="tw-bg-blue-900 tw-text-white tw-px-3 tw-py-1 tw-rounded-md tw-hover:bg-blue-800 tw-transition-all tw-mr-2">
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </body>