<!-- Only show the nav if showNav is true -->
<nav *ngIf="showNav" class="tw-bg-white tw-shadow-xl tw-border-b tw-border-gray-200 tw-flex tw-p-7">
  <a class="tw-font-bold tw-text-2xl tw-text-blue-900">E-Register</a>
  <div class="tw-flex tw-justify-center tw-text-center tw-items-center tw-mx-auto tw-space-x-8">
    <a
      routerLink="/home"
      href="/home"
      routerLinkActive="active"
      class="tw-text-gray-800 tw-font-medium tw-text-lg tw-transition tw-duration-300 tw-transform hover:tw-text-blue-900 hover:tw-scale-105">
      Home
    </a>
    <a
      routerLink="/register"
      href="/register"
      routerLinkActive="active"
      class="tw-text-gray-800 tw-font-medium tw-text-lg tw-transition tw-duration-300 tw-transform hover:tw-text-blue-900 hover:tw-scale-105">
      Register
    </a>
    <a
      routerLink="/sampling"
      href="/sampling"
      routerLinkActive="active"
      class="tw-text-gray-800 tw-font-medium tw-text-lg tw-transition tw-duration-300 tw-transform hover:tw-text-blue-900 hover:tw-scale-105">
      Sampling
    </a>
    <a
      routerLink="/search"
      href="/search"
      routerLinkActive="active"
      class="tw-text-gray-800 tw-font-medium tw-text-lg tw-transition tw-duration-300 tw-transform hover:tw-text-blue-900 hover:tw-scale-105">
      Search
    </a>
    <a
      routerLink="/customer-list"
      href="/customer-list"
      routerLinkActive="active"
      class="tw-text-gray-800 tw-font-medium tw-text-lg tw-transition tw-duration-300 tw-transform hover:tw-text-blue-900 hover:tw-scale-105">
      Customer List
    </a>
  </div>
  <div class="tw-items-center tw-flex">
    <button [routerLink]="'/login'" class="tw-text-sm tw-w-max tw-px-3 tw-py-2 tw-border-blue-800 tw-border-2 hover:tw-bg-blue-900 tw-rounded-lg hover:tw-shadow-md tw-text-blue-900 tw-font-semibold hover:tw-text-white">LOG OUT</button>
    <h1 class="tw-text-blue-900 tw-text-lg tw-mx-5 tw-mr-10">Hi, Gusto Ginting</h1>
  </div>
</nav>

<!-- The content of the current route will be displayed here -->
<router-outlet></router-outlet>
